.title-container {
    margin-top: 30px;
}

.editor-container {
    margin-bottom: 30px;
    background-color: #ddd;
    padding-top: 15px;
    padding-bottom: 15px;

    .cheat-collapse {
        margin: 15px 0;

        .cheatsheet-content {
            border: 1px solid #ced4da;
            background-color: #ddd;
        }
    }
}

.priview-container {
    margin-bottom: 30px;
    border: 1px solid #ddd;
    padding-top: 15px;
    padding-bottom: 15px;
}

img {
    max-width: 100%;
}