<div class="container-fluid jumbotron rounded-0">
  <div class="row">
    <div class="container">
      <h1 class="display-3">제목</h1>
      <p class="lead">소개</p>
      <hr class="my-4">
      <p>자기소개?</p>
      <!-- <p class="lead">
        <a class="btn btn-primary btn-sm float-right" [routerLink]="['manager']" role="button">편집하기</a>
      </p> -->
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div *ngFor="let post of posts" class="card mb-4" style="width: 100%;">
      <div class="card-body">
        <h4 class="card-title">{{ post.title }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">{{ post.contents }}</p>
        <a [routerLink]="['post/' + post._id]" routerLinkActive="router-link-active"  class="card-link">포스트 보기</a>
      </div>
    </div>
  </div>
</div>