<div class="container-fluid jumbotron rounded-0">
  <div class="row m-0">
    <div class="container">
      <h1 class="display-3">title</h1>
      <p class="lead">keyword</p>
      <hr class="my-4">
      <p>description</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row m-0">
    <div *ngFor="let post of posts" class="card mb-4" style="width: 100%;">
      <div class="card-body">
        <h4 class="card-title">{{ post.title }}</h4>
        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
        <p class="card-text text-muted">{{ post.contents | mdTextSummary: 200 }}</p>
        <a [routerLink]="['post/' + post._id]" routerLinkActive="router-link-active"  class="card-link">포스트 보기</a>
      </div>
    </div>
  </div>
</div>