<div class="wrapper">
	<nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
		<div class="container">
			<div class="row m-0 d-block w-100">
				<nav class="navbar navbar-expand-lg">
					<a class="navbar-brand" [routerLink]="['/']">KickPunch</a>
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link c-curser-pointer" *ngIf="!isLoggedIn" (click)="login()" routerLinkActive="router-link-active"><i class="fas fa-sign-in-alt"></i> Sign In</a>
						</li>
						<li class="nav-item active dropdown" *ngIf="isLoggedIn">
							<a class="nav-link dropdown-toggle c-cursor-pointer" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ userName }}</a>
							<div class="dropdown-menu dropdown-menu-right c-absolute">
								<a class="dropdown-item c-cursor-pointer" (click)="goToBlog()">My Blog</a>
								<a class="dropdown-item c-cursor-pointer" (click)="goToManager()">Manager</a>
								<a class="dropdown-item c-cursor-pointer" (click)="goToEditor()">Create a new one</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item c-cursor-pointer c-text-crimson" (click)="logout()" *ngIf="isLoggedIn" routerLinkActive="router-link-active">Sign out</a>
							</div>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</nav>
	<router-outlet></router-outlet>
	<div class="push"></div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light p-0 footer">
	<div class="container">
		<div class="row m-0 d-block w-100">
			<div class="float-right">
				See the code from here 
				<a href="https://github.com/cocm1324/kickpunch" c-curser-pointer>
					<i (click)="goToRepo()" class="fab fa-github fa-lg"></i>
				</a>
			</div>
		</div>
	</div>
</nav>

<app-toastr></app-toastr>