<div class="section-border-bottom" *ngIf="isTypeNone()"></div>

<div class="section-border-top" *ngIf="isTypeOpen()">
	<div class="bullet" (click)="bulletClick(borderType.OPEN)">
		<div>
			<i class="fas fa-plus"></i>
		</div>
	</div>
</div>

<div class="section-border-top" *ngIf="isTypeClose()">
	<div class="bullet" (click)="bulletClick(borderType.CLOSE)">
		<div>
			<i class="fas fa-minus"></i>
		</div>
	</div>
</div>

<div class="section-border-bottom" *ngIf="isTypeSubmit()">
	<div class="bullet" (click)="bulletClick(borderType.SUBMIT)">
		<div>
			<i class="fas fa-check"></i>
		</div>
	</div>
</div>

<div class="section-border-top" *ngIf="isTypeCancel()">
	<div class="bullet" (click)="bulletClick(borderType.CANCEL)">
		<div>
			<i class="fas fa-times"></i>
		</div>
	</div>
</div>

<div class="section-border-top" *ngIf="isTypeUp()">
	<div class="bullet" (click)="bulletClick(borderType.UP)">
		<div>
			<i class="fas fa-angle-double-up"></i>
		</div>
	</div>	
</div>

<div class="section-border-bottom" *ngIf="isTypeDown()">
	<div class="bullet" (click)="bulletClick(borderType.DOWN)">
		<div>
			<i class="fas fa-angle-double-down"></i>
		</div>
	</div>
</div>

<div class="section-border-top cursor-grab" *ngIf="isTypeDrag()">
	<div class="bullet" (click)="bulletClick(borderType.DRAG)">
		<div>
			<i class="fas fa-arrows-alt-v"></i>
		</div>
	</div>	
</div>

<div class="section-border-bottom" *ngIf="isTypeEdit()">
	<div class="bullet" (click)="bulletClick(borderType.EDIT)">
		<div>
			<i class="fas fa-pen"></i>
		</div>
	</div>
</div>

<div class="section-border-top" *ngIf="isTypeRevert()">
	<div class="bullet" (click)="bulletClick(borderType.REVERT)">
		<div>
			<i class="fas fa-long-arrow-alt-left"></i>
		</div>
	</div>
</div>