<app-section-border [type]="borderType.REVERT" (clickEvent)="onRevert($event)"></app-section-border>
<form [formGroup]="imageForm">
<div class="container-fluid">
	<div class="row c-relative c-justify-center" [ngClass]="{'c-post-container': width==widthType.POST, 'c-wide-container':width==widthType.WIDE, 'c-banner-container':width==widthType.HERO }">
		
		<div *ngIf="isExpandable() && step!=imageStep.TYPE_SELECTION" class="left-expand" (click)="expand()">
			<i class="fas fa-angle-left"></i>
		</div>
		<div *ngIf="isShrinkable() && step!=imageStep.TYPE_SELECTION" class="left-shrink" (click)="shrink()">
			<i class="fas fa-angle-right"></i>
		</div>

		<div *ngIf="step==imageStep.TYPE_SELECTION" class="col item" (click)="uploadSelected()">
			<i class="fas fa-cloud-upload-alt"></i>
			<div class="caption">Upload</div>
		</div>
		<div *ngIf="step==imageStep.TYPE_SELECTION" class="col item" (click)="urlSelected()">
			<i class="fas fa-link"></i>
			<div class="caption">Url</div>
		</div>

		<div *ngIf="step==imageStep.IMAGE_UPLOAD" class="col input-field p-0">
			<div class="form-group">
				<label class="col-form-label" for="inputDefault">Upload Image</label>
				<div class="input-group mb-3">
					<div class="custom-file">
						<input formControlName="imageUpload" type="file" class="custom-file-input" id="inputGroupFile" accept="image/gif, image/jpeg, image/png">
						<label class="custom-file-label" for="inputGroupFile">Choose file</label>
					</div>
					<div class="input-group-append">
					  	<span class="input-group-text" id="">Upload</span>
					</div>
				</div>
			</div>
		</div>

		<div *ngIf="step==imageStep.IMAGE_URL" class="col input-field p-0">
			<div class="form-group">
				<label class="col-form-label" for="inputDefault">Image Url</label>
				<div class="input-group mb-3">
					<input formControlName="imageUrl" type="text" class="form-control" placeholder="Image Url">
					<div class="input-group-append c-pointer" (click)="loadImageUrl()">
						<span class="input-group-text">Add</span>
					</div>
					<div class="input-group-append c-pointer" (click)="clearImageUrl()">
						<span class="input-group-text">Clear</span>
				  	</div>
				</div>
			</div>
		</div>

		<div *ngIf="isShrinkable() && step!=imageStep.TYPE_SELECTION" class="right-shrink" (click)="shrink()">
			<i class="fas fa-angle-left"></i>
		</div>
		<div *ngIf="isExpandable() && step!=imageStep.TYPE_SELECTION" class="right-expand" (click)="expand()">
			<i class="fas fa-angle-right"></i>
		</div>

	</div>
	<div *ngIf="display" class="row c-relative c-justify-center" [ngClass]="{'c-post-container': width==widthType.POST, 'c-wide-container':width==widthType.WIDE, 'c-banner-container':width==widthType.HERO }">
		<img #urlImage *ngIf="step==imageStep.IMAGE_URL" [src]="imageUrl.value" class="image">
	</div>
</div>
</form>
<app-section-border [type]="getBorderType()" (clickEvent)="onSubmit($event)"></app-section-border>