<div class="container">
  <div class="row pt-5">
    <div class="col-lg-4 col-md-3 col-sm-2">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">Sign In</h3>
        </div>
        <div class="card-body">
          <form action="" class="form">
            <div class="form-group">
              <input [(ngModel)]="loginUserData.email" name="email" type="text" class="form-control" placeholder="Email" required>
            </div>
            <div class="form-group">
              <input [(ngModel)]="loginUserData.password" name="password" type="password" class="form-control" placeholder="Password" required>
            </div>
            <div class="form-group mt-5">
              <button (click)="loginUser()" class="btn btn-success btn-block">Sign In</button>
            </div>
            <div class="form-group">
              <div class="custom-control custom-checkbox mt-">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember me</label>
              </div>
              <!-- TODO: implement remember me -->
            </div>
            <hr>
            <div class="form-group">
              <small>New to KickPunch? <a class="float-right" [routerLink]="['/register']">Sign Up</a></small>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>