<div class="wrapper">
	<nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
		<div class="container">
		<div class="row d-block w-100">
			<nav class="navbar navbar-expand-lg">
			<!-- <div class="col" style="flex-wrap: nowrap;"> -->
				<a class="navbar-brand" [routerLink]="['/']">KickPunch</a>
				<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" *ngIf="!isLoggedIn()" (click)="login()" routerLinkActive="router-link-active" style="cursor: pointer;"><i class="fas fa-sign-in-alt"></i> Sign In</a>
				</li>
				<li class="nav-item active dropdown" *ngIf="isLoggedIn()">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ currentUser.name }}</a>
					<div class="dropdown-menu dropdown-menu-right" style="position:absolute">
						<a class="dropdown-item" [routerLink]="['/' + currentUser.email.split('@')[0]]">My Blog</a>
						<a class="dropdown-item" [routerLink]="['/' + currentUser.email.split('@')[0] + '/manager']">Manager</a>
						<a class="dropdown-item" [routerLink]="['/' + currentUser.email.split('@')[0] + '/new']">Create a new one</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" style="cursor: pointer;" (click)="logout()" *ngIf="_auth.loggedIn()" routerLinkActive="router-link-active" style="color: crimson; cursor: pointer;">Sign out</a>
					</div>
				</li>
				</ul>
			<!-- </div> -->
			</nav>
		</div>
		</div>
	</nav>

	<router-outlet></router-outlet>
	<div class="push"></div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light p-0 footer">
	<div class="container">
		<div class="row d-block w-100">
			<div class="col">
				<div class="float-right">See the code from here <a href="https://github.com/cocm1324/kickpunch"><i (click)="goToRepo()" class="fab fa-github fa-lg" style="cursor: pointer;"></i></a></div>
			</div>
		</div>
	</div>
</nav>

<app-toastr></app-toastr>