.c-post-container {
    width: 680px;
    margin: 0 64px;

    font-size: 22px;
    line-height: 1.58;
    font-weight: 400;


    p {
        margin-bottom: 1em;
        word-break: break-word;
    }
}

.c-bg-red {
    background-color: red;
}

.c-bg-blue {
    background-color: blue;
}

.c-bg-bisque {
    background-color: bisque;
}