<div class="container">
	<div class="row">
		<div class="col">
			<h3 class="mt-4 mb-3">Your Blog</h3>
			<div class="jumbotron p-3">
				<div class="form-group">
					<label class="col-form-label col-form-label-lg" for="inputLarge">Blog Title</label>
					<button type="button" class="btn btn-primary btn-sm ml-3" (click)='changeTitle()'>Save</button>
					<input [(ngModel)]="title" [maxLength]="50" class="form-control form-control-lg">
				</div>
				<div class="form-group">
					<label class="col-form-label col-form-label-lg" for="inputLarge">Blog Description</label>
					<button type="button" class="btn btn-primary btn-sm ml-3" (click)='changeDescription()'>Save</button>
					<textarea [(ngModel)]="description" [maxLength]="200" class="form-control" id="exampleTextarea my-0" rows="2" style="height: 114px;"></textarea>
				</div>
			</div>
		</div>
  	</div>
  	<div class="row">
		<div class="col">
			<h3 class="mt-4 mb-3">Your Posts</h3>
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Title</th>
						<th scope="col">Contents</th>
						<th scope="col">Exposed</th>
						<th scope="col">Priority</th>
						<th scope="col">Manage</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let post of posts">
						<th scope="row">{{ post.title }}</th>
						<td>{{ post.contents | mdTextSummary: 140 }}</td>
						<td>{{ post.exposed }}</td>
						<td>{{ post.priority }}</td>
						<td>
						<a (click)="goToPost(post.id)" class="pr-2 cursor-pointer"><i class="far fa-eye"></i></a>
						<a (click)="goToEdit(post.id)" class="pr-2 cursor-pointer"><i class="far fa-edit"></i></a>
						<a (click)="deletePost(post.id)" class="cursor-pointer"><i class="far fa-trash-alt"></i></a>
						</td>
					</tr>
					<tr *ngIf="!posts">
						<th>Ooops!</th>
						<td>You don't have any posts!</td>
						<!-- TODO: link to new post -->
					</tr>
				</tbody>
			</table> 
		</div>
  	</div>
</div>